<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ANTTWEAKBAR_116_OGLCORE_GLFW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>BulletCollision.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>BulletDynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>BulletSoftBody.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>GLEW_190.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>GLFW_303.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>LinearMath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>assimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>misc05_picking_BulletPhysics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>misc05_picking_custom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>misc05_picking_slow_easy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>playground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>tutorial01_first_window.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tutorial02_red_triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tutorial03_matrices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tutorial04_colored_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tutorial05_textured_cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>tutorial06_keyboard_and_mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tutorial07_model_loading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>tutorial08_basic_shading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tutorial09_AssImp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>tutorial09_several_objects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>tutorial09_vbo_indexing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>tutorial10_transparency.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>tutorial11_2d_fonts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>tutorial12_extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>tutorial13_normal_mapping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tutorial14_render_to_texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>tutorial15_lightmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>tutorial16_shadowmaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>tutorial16_shadowmaps_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>tutorial17_rotations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>tutorial18_billboards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tutorial18_particles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>zlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>010125D040EE467ABC89F600</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>025013EBC802433D8F62A209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07BD74DADB364ADEA049DE3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DC0D2A6061E48EA8DF80074</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F5B494993B9436E883AF5B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1967E09508954CF290765F86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24FA69EBB844421D9AB07B41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B0B07A2F37145E084F4BB73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>301E0CEFA1F644BEA1671A4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A004416B9E4D6189897B2F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E059FB13A044A1AA563007A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4155C7D4121A4199A9185542</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>579E6BA38E9E4CB8A66E9612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B181849CAB14E24ACA23913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B1F008B396B4EF9A93FF2FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69764722FA2E410AAF9D5799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BCB57CD89CA4263907874BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CC8AD3C57334999A41E7E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9113AE9495E54541A3D6872E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>918D40E78388419DBDCAAAA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9DA09A1D63F947F998115B5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A004710E301348AFBB9D3219</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A585F1B4C9234709852DCE4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A74D7E16C49F401582F23065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D36F7F3AD74C69B00D2553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC5D0142C4B6436E8C706FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AE1A4A09CAC04BEBBF9528D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39477F118AA466AB80D8DCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D53D5A0C45E7402AA6F8EBC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8D90BF55AA342BEAE952D3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D98C0B08666444A88FA1BC24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCEEA256589C480ABB69F1DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E02FA98EE969412684913CD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA1ECC98C56344718132E1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED9E1E6209BC48CDA6E6BF69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFEAB1D9B3E341AA8CCEEF1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F34353D69AA549EBA969F075</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7247B9149F24C859269C99D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
